<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>MarkdownTool Hilfe</string>
	<key>CFBundleName</key>
	<string>MarkdownTool Help</string>
	<key>CFBundleIdentifier</key>
	<string>com.twenty5ai.MarkdownTool.Help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.twenty5ai.MarkdownTool.Help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 MarkdownTool. All rights reserved.</string>
	<key>PlugInManifest</key>
	<dict>
		<key>CFPlugInDynamicRegisterFunction</key>
		<string></string>
		<key>CFPlugInDynamicRegistration</key>
		<string>NO</string>
		<key>CFPlugInFactories</key>
		<dict/>
		<key>CFPlugInTypes</key>
		<dict/>
		<key>CFPlugInUnloadFunction</key>
		<string></string>
	</dict>
</dict>
</plist>